nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul,
  li {
    list-style: none;
  }
  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;

    .logo {
      font-weight: bold;
      font-size: 2rem;
    }
  }
  .right {
    flex: 2;
  }
}
