@import "../../responsive.scss";
nav {
  height: 100px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  a {
    transition: all 0.4s ease;
    &:hover {
      scale: 1.05;
    }
    @include sm {
      display: none;
    }
  }
  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 5rem;
    .logo {
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 2rem;
      gap: 1rem;
      img {
        width: 28px;
      }
      span {
        @include md {
          display: none;
        }
        @include sm {
          display: initial;
        }
      }
    }
  }
  .right {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    background-color: #fcf5f2;
    height: 100%;

    @include md {
      background-color: transparent;
    }
    a {
      padding: 1.2rem 2.4rem;
      margin: 2rem;
    }
    .register {
      background-color: #fece51;
    }

    .menuIcon {
      display: none;
      z-index: 999;

      img {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
      }

      @include sm {
        display: inline;
      }
    }
    .menu {
      position: absolute;
      top: 0;
      right: -50%;
      height: 100vh;
      width: 50%;
      background-color: #333;
      color: #fff;
      transition: all 0.7s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 2.4rem;
      &.active {
        right: 0;
      }

      @include sm {
        a {
          display: initial;
        }

    }
   
  }
}
